		<div class="footer">
							<div class="decor_line_footer"></div>
			<div class="footer_content">

				<div class="footer_left_column">
					<div class="footer_left_column_h1 footer_h1">Техподдержка</div>
					<div class="footer_left_column_text footer_text">support@smmadmin.com</div>
				</div>
				<div class="footer_right_column">
					<div class="footer_right_column_h1 footer_h1">Информация</div>
					<div class="footer_right_column_text footer_text">
						<a class="footer_text_link">Пользовательское соглашение</a>
						<a class="footer_text_link">Правила использования сервиса</a>
						<a class="footer_text_link">Политика конфиденциальности</a>
						<a class="footer_text_link">Безопасность аккаунтов</a>
					</div>
				</div>
			</div>

		</div>


	</body>
</html>