{% extends "base_generic.html" %}
{% block content %}


<div class="akk_metki">
    <div class="akk_metki_name">{% if accounts.acc_owner_id == user.id %}{{ accounts.name_for_accounts }} {% else %}  Владелец {{accounts.name_for_accounts}} {% endif %}</div>
    <div class="metki">
        <div class="metka one">
            <div class="metka_name one">Арбитраж</div>
            <div class="metka_icon one"></div>
        </div>
        <div class="metka two">
            <div class="metka_name two">ВП</div>
            <div class="metka_icon two"></div>
        </div>
        <div class="metka tdree">
            <div class="metka_name tdree">Реклама</div>
            <div class="metka_icon tdree"></div>
        </div>
        <div class="metka four">
            <div class="metka_name four">Мои аккаунты ВП</div>
            <div class="metka_icon four"></div>
        </div>
        <div class="metka five">
            <div class="metka_name five">Другое</div>
            <div class="metka_icon five"></div>
        </div>
    </div>
    <div class="create_metky"></div>
</div>

<div class="content_container">

    <div class="posts_view_manipulation">
        <div class="sort_status_post">
            <div class="btn_posts all_posts">
                <div class="all_posts_name posts_name">Все посты</div>
                <div class="all_posts_icon"></div>
            </div>
            <div class="btn_posts delete_posts">
                <div class="posts_name">Удалено</div>
                <div class="delete_posts_icon"></div>
            </div>
            <div class="btn_posts error_posts">
                <div class="posts_name">Ошибки</div>
                <div class="error_posts_icon"></div>
            </div>

        </div>
        <div class="tabs_change_view">
            {% if accounts.acc_owner_id == user.id %}
            <input id="tab_view_list" type="radio" name="tabs_change_view" checked>
            <label for="tab_view_list" id="tab_view_listid" class="tab_view_listid_logo" title="Вид списком"></label>
            {% else %}

            {% endif %}

            <input id="tab_view_table" type="radio" name="tabs_change_view" {% if accounts.acc_owner_id == user.id%}{%else%} checked {%endif%}>
            <label for="tab_view_table" id="tab_view_tableid" class="tab_view_tableid_logo" title="Вид таблицей"></label>

            <section id="content-tab_view_list">

            {% if posts_detail_in_acc %}
                {% for post in posts_detail_in_acc%}
                    {% if accounts.id == post.account_for_post_id and accounts.acc_owner_id == user.id %}

                    <div class="moy_post {% if post.date_time_for_post|date:'Y-m-d H:i' < now|date:'Y-m-d H:i' %}
                                    complete
                                {% else %}
                                    will_delete
                                {% endif %}">
                        <div class="post_center_content">
                            <div class="system_notif">
                                <div class="info_notif notif_element">
                                    <div class="info_notif_logo_will_delete"></div>
                                    <div class="info_notif_text_will_delete">{% if post.date_time_for_post|date:'Y-m-d H:i' < now|date:'Y-m-d H:i' %}
                                    Успешно выставлен
                                {% else %}
                                    Будет выставлен
                                {% endif %}</div>
                                </div>
                                <a href="{{ post.get_absolute_url }}/update" class="btn_notif notif_element">{% if post.date_time_for_post|date:'Y-m-d H:i' < now|date:'Y-m-d H:i' %}
                                    Выставить еще раз
                                {% else %}
                                    Изменить
                                {% endif %}</a>


                                <a href="{{ post.get_absolute_url }}/delete" class="btn_notif notif_element_delete">Удалить</a>
                                <div class="decor_notif_line"></div>
                            </div>

                            <div class="post_content">

                                <div class="post_date_time">
                                    <div class="post_time">{{ post.date_time_for_post|date:"H:i" }}</div>
                                    <div class="time_decor_line"></div>
                                    <div class="post_date">{{ post.date_time_for_post|date:"d E" }}</div>
                                </div>

                                <div class="post_akk_container">
                                    <div class="post_akk_container_height">
                                        <div class="post_akk_logo"></div>
                                        <div class="text_widtd">
                                            <div class="post_akk_name">{{ post.account_for_post }}</div>
                                            <div class="post_akk_metka">
                                                <div class="post_metka_icon"></div>
                                                <div class="post_metka_name">{{ post.soc_net_fot_post }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="post_akk_content">
                                    <div class="post_akk_content_img"></div>
                                    <div class="post_akk_content_text"><strong>{{ post.name_for_post }}</strong>{{ post.text_for_post }} </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_right_control_panel">
                            <div class="right_control_panel_settings right_control_panel_icons"></div>
                            <div class="right_control_panel_metki right_control_panel_icons"></div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            {% else %}
                <p>Your posts are not here</p>
            {% endif %}








<!--				    	<div class="moy_post post_error">-->
<!--				    		<div class="post_date_time">-->
<!--		    					<div class="post_time">19:00</div>-->
<!--		    					<div class="time_decor_line"></div>-->
<!--		    					<div class="post_date">29 января</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_center_content">-->
<!--				    			<div class="system_notif">-->
<!--				    				<div class="info_notif notif_element">-->
<!--				    					<div class="info_notif_logo"></div>-->
<!--				    					<div class="info_notif_text">Ошибка при публикации</div>-->
<!--				    				</div>-->
<!--				    				<div class="text_notif notif_element">Возможность не оплачена</div>-->
<!--				    				<div class="btn_notif notif_element">Подробнее</div>-->

<!--				    				<div class="decor_notif_line"></div>-->
<!--				    			</div>-->
<!--				    			<div class="post_content">-->
<!--				    				<div class="post_akk_container">-->
<!--				    					<div class="post_akk_container_height">-->
<!--					    					<div class="post_akk_logo"></div>-->
<!--					    					<div class="text_widtd">-->
<!--					    						<div class="post_akk_name">Kinoshake</div>-->
<!--						    					<div class="post_akk_metka">-->
<!--						    						<div class="post_metka_icon"></div>-->
<!--						    						<div class="post_metka_name">Арбитраж</div>-->
<!--						    					</div>-->
<!--					    					</div>-->

<!--				    					</div>-->

<!--				    				</div>-->
<!--				    				<div class="post_akk_content">-->
<!--				    					<div class="post_akk_content_img"></div>-->
<!--				    					<div class="post_akk_content_text">Собаке так приятно, что она не сдерживает эмоции</div>-->
<!--				    				</div>-->
<!--				    			</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_right_control_panel">-->
<!--				    			<div class="right_control_panel_settings right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_metki right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_delete right_control_panel_icons"></div>-->
<!--				    		</div>-->
<!--				    	</div>-->



<!--				    	<div class="moy_post success_delete">-->
<!--				    		<div class="post_date_time">-->
<!--		    					<div class="post_time">19:00</div>-->
<!--		    					<div class="time_decor_line"></div>-->
<!--		    					<div class="post_date">29 января</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_center_content">-->
<!--				    			<div class="system_notif">-->
<!--				    				<div class="info_notif notif_element">-->
<!--				    					<div class="info_notif_logo_success_delete"></div>-->
<!--				    					<div class="info_notif_text_success_delete">Пост успешно удален</div>-->
<!--				    				</div>-->
<!--				    					<div class="info_notif_time">19:00</div>-->
<!--				    					<div class="info_notif_date">30 января</div>-->
<!--				    				<div class="btn_notif notif_element">Выставить еще раз</div>-->

<!--				    				<div class="decor_notif_line"></div>-->
<!--				    			</div>-->
<!--				    			<div class="post_content">-->
<!--				    				<div class="post_akk_container">-->
<!--				    					<div class="post_akk_container_height">-->
<!--					    					<div class="post_akk_logo"></div>-->
<!--					    					<div class="text_widtd">-->
<!--					    						<div class="post_akk_name">Kinoshake</div>-->
<!--						    					<div class="post_akk_metka">-->
<!--						    						<div class="post_metka_icon"></div>-->
<!--						    						<div class="post_metka_name">Арбитраж</div>-->
<!--						    					</div>-->
<!--					    					</div>-->

<!--				    					</div>-->

<!--				    				</div>-->
<!--				    				<div class="post_akk_content">-->
<!--				    					<div class="post_akk_content_img"></div>-->
<!--				    					<div class="post_akk_content_text">Собаке так приятно, что она не сдерживает эмоции</div>-->
<!--				    				</div>-->
<!--				    			</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_right_control_panel">-->
<!--				    			<div class="right_control_panel_settings right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_metki right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_delete right_control_panel_icons"></div>-->
<!--				    		</div>-->
<!--				    	</div>-->
<!--                        -->
<!--				    	<div class="moy_post complete">-->
<!--				    		<div class="post_date_time">-->
<!--		    					<div class="post_time">19:00</div>-->
<!--		    					<div class="time_decor_line"></div>-->
<!--		    					<div class="post_date">29 января</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_center_content">-->
<!--				    			<div class="system_notif">-->
<!--				    				<div class="info_notif notif_element">-->
<!--				    					<div class="info_notif_logo_complete"></div>-->
<!--				    					<div class="info_notif_text_complete">Пост успешно выставлен</div>-->
<!--				    				</div>-->
<!--				    					<div class="info_notif_time">19:00</div>-->
<!--				    					<div class="info_notif_date">30 января</div>-->
<!--				    				<div class="btn_notif notif_element">Повторить</div>-->

<!--				    				<div class="decor_notif_line"></div>-->
<!--				    			</div>-->
<!--				    			<div class="post_content">-->
<!--				    				<div class="post_akk_container">-->
<!--				    					<div class="post_akk_container_height">-->
<!--					    					<div class="post_akk_logo"></div>-->
<!--					    					<div class="text_widtd">-->
<!--					    						<div class="post_akk_name">Kinoshake</div>-->
<!--						    					<div class="post_akk_metka">-->
<!--						    						<div class="post_metka_icon"></div>-->
<!--						    						<div class="post_metka_name">Арбитраж</div>-->
<!--						    					</div>-->
<!--					    					</div>-->

<!--				    					</div>-->

<!--				    				</div>-->
<!--				    				<div class="post_akk_content">-->
<!--				    					<div class="post_akk_content_img"></div>-->
<!--				    					<div class="post_akk_content_text">Собаке так приятно, что она не сдерживает эмоции</div>-->
<!--				    				</div>-->
<!--				    			</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_right_control_panel">-->
<!--				    			<div class="right_control_panel_settings right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_metki right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_delete right_control_panel_icons"></div>-->
<!--				    		</div>-->
<!--				    	</div>-->





<!--				    	<div class="moy_post wait_for_placement">-->
<!--				    		<div class="post_date_time_wait_for_placement">-->
<!--		    					<div class="post_time">19:00</div>-->
<!--		    					<div class="time_decor_line"></div>-->
<!--		    					<div class="post_date">29 января</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_center_content">-->
<!--				    			<div class="post_content">-->
<!--				    				<div class="post_akk_container">-->
<!--				    					<div class="post_akk_container_height">-->
<!--					    					<div class="post_akk_logo"></div>-->
<!--					    					<div class="text_widtd">-->
<!--					    						<div class="post_akk_name">Kinoshake</div>-->
<!--						    					<div class="post_akk_metka">-->
<!--						    						<div class="post_metka_icon"></div>-->
<!--						    						<div class="post_metka_name">Арбитраж</div>-->
<!--						    					</div>-->
<!--					    					</div>-->

<!--				    					</div>-->

<!--				    				</div>-->
<!--				    				<div class="post_akk_content">-->
<!--				    					<div class="post_akk_content_img"></div>-->
<!--				    					<div class="post_akk_content_text">Собаке так приятно, что она не сдерживает эмоции</div>-->
<!--				    				</div>-->
<!--				    			</div>-->
<!--				    		</div>-->
<!--				    		<div class="post_right_control_panel_wait_for_placement">-->
<!--				    			<div class="right_control_panel_settings right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_metki right_control_panel_icons"></div>-->
<!--				    			<div class="right_control_panel_delete right_control_panel_icons"></div>-->
<!--				    		</div>-->
<!--				    	</div>-->















            </section>
            <section id="content-tab_view_table">
                <div class="content_table">
                    <div class="head_for_table">
                        <div class="hft_date">Дата</div>
                        <div class="hft_text">График- {{this_month|date:"F Y"}}</div>
                        <div class="hft_calendar_icon"></div>
                    </div>

                    <table>
                        {% for number, names_dates in common_list %}
                            {% if this_month|date:"n" == number|date:"n"  %}
                                <tr>
                                    <td class="tbl_date_td"><span class="mounth_num">{{number|date:"j"}}<br>
                                    </span> <span class="week_day">{{names_dates}}</span></td>

                                    {% for time in time_line %}

                                        <td>
                                            {% for post in posts_detail_in_acc%}
                                                {% if accounts.acc_owner_id == user.id%}
                                                    {% if time|date:"H:i" == post.date_time_for_post|date:"H:i" and post.date_time_for_post|date:'Y-m-d' == number|date:'Y-m-d' and accounts.id == post.account_for_post_id %}
                                                    <a class="link_on_post" href="{{ post.get_absolute_url }}/update"></a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if time|date:"H:i" == post.date_time_for_post|date:"H:i" and post.date_time_for_post|date:'Y-m-d' == number|date:'Y-m-d' and accounts.id == post.account_for_post_id %}
                                                    <span class="link_on_post" ></span>
                                                    {% endif %}
                                                {% endif %}

                                            {% endfor %}
                                            <span class="str_time"><a href="#win2" class="button ">{{time|date:"H:i"}}</a></span>
                                        </td>

                                    {% endfor %}

                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

                </div>

            </section>
        </div>
        <div class="btn_more_posts">Показать больше постов</div>

    </div>
</div>


{% include 'include/footer.html' %}



















{% endblock %}